<div class="bg"></div>
<h1 class="display1 navbar-pad">CART</h1>

<div class="flex-tablet" *ngIf="!emptyCart">
  <div class="container">
    <a routerLink="/catalog" routerLinkActive="linkActive"
      ><u>BACK TO SHOP</u></a
    >

    <h3 class="subtitle subtitle--left" *ngIf="!plural">
      Cart contains ({{ cart.length }} product)
    </h3>
    <h3 class="subtitle subtitle--left" *ngIf="plural">
      Cart contains ({{ cart.length }} products)
    </h3>

    <div *ngFor="let product of cart; let i = index">
      <div class="card">
        <img src="{{ product.imageUrl }}" alt="Image of product" />

        <div class="card-right-pane">
          <h2 class="subtitle subtitle--left subtitle--inverse">
            {{ product.name }}
          </h2>

          <div class="card-row">
            <div>
              <select
                #amountSelect
                (blur)="handleUpdateAmount(amountSelect.value, product.id)"
                (blur)="calculateTotalProducts()"
              >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>

              <button
                (click)="handleRemoveProduct(product)"
                (blur)="calculateTotalProducts()"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>

            <h3 class="display2 display2--inverse display2--no-margin">
              {{ orderRows[i].amount * product.price | currency: "SEK" }}
            </h3>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />

    <h3 class="body1 body1--right">
      <i>Standard shipping: {{ 49 | currency: "SEK" }}</i>
    </h3>
    <h2 class="display2 display2--right">
      Total: {{ totalProducts | currency: "SEK" }}
    </h2>

    <hr class="d-none-tablet" />
  </div>
  <div>
    <app-billing-form (billingForm)="handleForm($event)"></app-billing-form>
  </div>

  <div *ngIf="showOverview">
    <div class="overlay"></div>
    <div class="overview bg">
      <h1 class="display1">Thanks</h1>

      <div class="content">
        <div>
          <p class="body1">for shopping at Top Tier Movies!</p>
          <p class="body1">Your order is on the way</p>
          <p class="body1">Check your email for verification</p>
        </div>

        <div>
          <p class="body1">Do you want to shop more?</p>
          <a routerLink="/catalog" routerLinkActive="linkActive">
            <button class="button primory-button primory-button--center">
              SHOP
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="emptyCart">
  <h2 class="display2">Oh, look like your cart is empty!</h2>
  <a routerLink="/catalog" routerLinkActive="linkActive">
    <button class="button primory-button primory-button--center">
      SHOP NOW
    </button>
  </a>
</div>
