<div *ngIf="noSearchResults">SRY, no result</div>

<div>
  <app-product
    *ngFor="let movie of searchResults"
    [movie]="movie"
    [moviePoster]="movie.imageUrl"
    [movieId]="movie.id"
    [categories]="movie.productCategory"
  >
  </app-product>
</div>

<div>
  <app-product
    *ngFor="let movie of movies"
    [movie]="movie"
    [moviePoster]="movie.imageUrl"
    [movieId]="movie.id"
    [categories]="movie.productCategory"
  >
  </app-product>
</div>

<app-error *ngIf="error"></app-error>
