<div class="bg"></div>
<h1 class="display1 navbar-pad">All orders</h1>

<div
  class="success"
  [class.success-open]="success"
  (click)="success = !success"
>
  Successfully Removed!
</div>

<div class="container">
  <div class="order" *ngFor="let order of orders">
    <div>
      <label>Orderid:</label>
      <p>{{ order.id }}</p>
      <label>Created:</label>
      <p>{{ order.created }}</p>
      <label>Email:</label>
      <p>{{ order.createdBy }}</p>
      <label>PaymentMethod:</label>
      <p>{{ order.paymentMethod }}</p>
      <label>TotalPrice:</label>
      <p>{{ order.totalPrice }}</p>
    </div>

    <div class="dilimeter">
      <h4>Product-rows:</h4>
      <div class="rows" *ngFor="let rows of order.orderRows">
        <label> Row-id:</label>
        <p>{{ rows.id }}</p>
        <label> Product-id:</label>
        <p>{{ rows.productId }}</p>
        <label> Amout:</label>
        <p>{{ rows.amount }}</p>
      </div>
    </div>

    <button class="button secondary-button" (click)="handleRemoveOrder(order)">
      Remove
    </button>
  </div>
</div>
