@import "~src/variables";

.container {
  padding-top: calc(#{$nav-height} + 40px);
}

.bg {
  display: none;

  @media screen and(min-width: $tablet) {
    display: block;
    bottom: 0;
  }
}

img {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  @media screen and(min-width: $tablet) {
    height: 500px;
    width: 888px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -444px;
  }
}

h2,
h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: 0;
  color: $main-light-shade-color;
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
  line-height: 1.5;
}

.cta {
  display: flex;
  padding: 30px 20px 60px 20px;

  a {
    margin: auto;
  }
}

.hero {
  max-width: 300px;
  margin: auto;
  line-height: 1.5;

  p {
    color: $main-light-shade-color;
    text-align: center;
  }
}
