@import "~src/variables";

.bg {
  display: none;

  @media screen and(min-width: $tablet) {
    display: block;
    bottom: 0;
  }
}

h2,
h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin: 0;
  color: $main-light-shade-color;
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
  line-height: 1.5;
}

.cta {
  display: flex;
  padding: 30px 20px 60px 20px;

  a {
    margin: auto;
  }
}

.hero {
  max-width: 300px;
  margin: auto;
  line-height: 1.5;

  p {
    color: $main-light-shade-color;
    text-align: center;
  }
}
