<img src="../../../assets/images/movie_wallpaper_large_opt.jpg" alt="" />
<div>
  <div class="container">
    <div>
      <h2>Welcome to:</h2>
      <h1>
        Top Tier
        <br />
        Movie List!
      </h1>
    </div>
    <div class="cta">
      <a routerLink="/catalog" routerLinkActive="linkActive"
        ><button class="primory-button">SHOP NOW</button>
      </a>
    </div>
    <div class="hero">
      <p>
        Welcome to our movie shop,
        <br />
        made for you: Movie-lover!
        <br />
        New titles for spring announced!
        <br />
        Have a look!
      </p>
    </div>
  </div>
</div>
