<div>
  <div class="card">
    <a routerLink="/details/{{ movieId }}">
      <img
        class="poster"
        src="{{ moviePoster }}"
        onerror="this.style.display='none'"
        alt="Poster for movie"
      />
    </a>

    <div class="label">
      <h2 class="display2">{{ movie.name }}</h2>
      <p class="subtitle subtitle--no-margin">Year: {{ movie.year }}</p>

      <h2 class="price">{{ movie.price | currency: "SEK" }}</h2>
      <button
        class="button primory-button-inverse"
        (click)="handleClick(movie)"
      >
        BUY
      </button>
    </div>
  </div>
</div>
