.posterFrame {
  height: 300px;
  width: 200px;
  overflow: hidden;
}
img {
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}
.buy-button {
  height: 40px;
  width: 80px;
  background-color: green;
  color: palevioletred;
}
