<nav>
  <a
    routerLink=""
    routerLinkActive="linkActive"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >

  <input
    type="text"
    name="search"
    [(ngModel)]="search"
    (keyUp.enter)="handleSearch(search); search = ''"
  />
  <button
    (click)="handleSearch(search); search = ''"
    (blur)="resetEmptySearch()"
  >
    Search
  </button>

  <a routerLink="/catalog" routerLinkActive="linkActive">View Shop</a>
  <a routerLink="/cart" routerLinkActive="linkActive">View Cart</a>
  <a routerLink="/contact" routerLinkActive="linkActive">Contact</a>
</nav>

<div *ngIf="emptySearch">Must search something sry!</div>

<div *ngIf="productAdded">
  <div *ngIf="!productRejected">
    Product added to cart are:
    <br />
    {{ productName }}
    <br />
    amount: {{ productAmount }}
  </div>
  <div *ngIf="productRejected">
    <h4>Srry, can't add more than 9</h4>
  </div>
</div>

<router-outlet></router-outlet>
