@import "~src/variables";
@import "~src/placeholders";

.logo {
  max-width: 55px;
  z-index: 2;
  position: fixed;
}

nav {
  @extend %flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: $nav-height;
  background-color: $main-bg-color;
  z-index: 1;

  a:first-child {
    margin: 0 24px 0 0;
    font-size: 29px;
    font-weight: 900;
    padding-bottom: 4px;
  }

  .nav-link {
    color: $main-middle-shade-color;
    margin-right: 24px;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:last-child {
      margin-right: 37px;
    }
  }

  .linkActive {
    i {
      color: $main-contrast-color;
    }
  }

  .cart-indicator {
    height: 13px;
    width: 13px;
    position: absolute;
    background-color: $main-brand-color;
    border-radius: 50%;
    display: inline-block;
    right: 30px;
  }
}

.dropdown-menu {
  visibility: hidden;
  position: fixed;
  width: 100%;
  opacity: 0.4;
  transform: translateY(-300px);
  transition: all ease 1s;
  z-index: 3;

  @media screen and (min-width: $tablet) {
    width: 500px;
    left: 50%;
    margin-left: -250px;
  }

  @media screen and (min-width: $desktop) {
    width: 650px;
    left: 50%;
    margin-left: -325px;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 2px;
      background-color: $main-dark-shade-color;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .search-container {
    background-color: #87859d;
    @extend %flex;
    justify-content: flex-end;
    padding: 40px 0px;
    flex-direction: column;
    background-image: $pop-up-gradient;

    input {
      height: 35px;
      width: 200px;
      margin: 10px;
      font-size: 19px;
      border: solid 1.5px $main-brand-color;
      border-radius: 3px;

      @media screen and (min-width: $mobile-small) {
        width: 300px;
      }

      @media screen and (min-width: $tablet) {
        width: 400px;
      }

      @media screen and (min-width: $desktop) {
        width: 500px;
      }
    }
  }
}

.dropdown-menu-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: all ease 1s;
}

.product-msg {
  visibility: hidden;
  height: 0;
  margin-top: $nav-height;
  width: 100%;
  background-image: $pop-up-gradient;
  position: fixed;
  opacity: 0;
  transition: all ease 0.5s;

  @media screen and (min-width: $tablet) {
    max-width: 450px;
    left: 50%;
    margin-left: -225px;
  }

  .card {
    background-color: $main-bg-color;
    display: flex;
    margin: 10px;
    padding: 5px;

    .large {
      font-size: 20px;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: $main-light-shade-color;
      margin: 0;
    }

    img {
      height: 100px;
      padding: 5px 10px 5px 5px;
    }

    @media screen and (min-width: $mobile-small) {
      margin: 15px;
      padding: 7px;

      img {
        height: 150px;
        padding: 10px 15px 10px 10px;
      }
    }
  }
}

.product-msg-open {
  visibility: visible;
  opacity: 1;
  height: 200px;
  transition: all ease 0.5s;

  @media screen and (min-width: $mobile-small) {
    height: 260px;
  }
}

footer {
  width: 300px;
  height: 40px;
  background-image: linear-gradient(to right, transparent, $main-bg-color);
  position: fixed;
  right: 0;
  bottom: 0;

  a {
    color: $main-light-shade-color;
    float: right;
    font-size: 22px;
    cursor: pointer;
    text-align: right;
    padding: 7px 17px 0 0;

    &:hover {
      opacity: 0.5;
    }
  }
}
