@import "~src/variables";

.logo {
  max-width: 55px;
  z-index: 2;
  position: fixed;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $nav-height;
  background-color: $main-bg-color;
  z-index: 1;
}

.linkActive {
  i {
    /* padding: 4px 7px 4px 4px;
    border-bottom: solid #e8eb3f; */
  }
}

.nav-link {
  color: $main-middle-shade-color;
  margin-right: 24px;
  font-size: 22px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:last-child {
    margin-right: 37px;
  }
}

.cart-indicator {
  height: 13px;
  width: 13px;
  position: absolute;
  background-color: $main-contrast-color;
  border-radius: 50%;
  display: inline-block;
  right: 30px;
}

.dropdown-menu {
  visibility: hidden;
  position: fixed;
  width: 100%;
  opacity: 0.4;
  transform: translateY(-300px);
  transition: all ease 1s;
  z-index: 3;
}

.show-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: all ease 1s;
}

.close {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: $main-dark-shade-color;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.search-container {
  background-color: #87859d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0px;
  flex-direction: column;
  background-image: $pop-up-gradient;

  input {
    height: 35px;
    width: 200px;
    margin: 10px;
    border: solid 1.5px $main-brand-color;
    border-radius: 3px;

    @media screen and (min-width: $mobile-small) {
      width: 300px;
    }
  }
}

.overlay {
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: $nav-height;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 1;
}

.product-msg {
  visibility: hidden;
  height: 0;
  margin-top: $nav-height;
  width: 100%;
  background-image: $pop-up-gradient;
  position: fixed;
  opacity: 0;
  transition: all ease 0.5s;

  .card {
    background-color: $main-bg-color;
    display: flex;
    margin: 10px;
    padding: 5px;

    .large {
      font-size: 20px;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: $main-light-shade-color;
      margin: 0;
    }

    img {
      height: 100px;
      padding: 5px 10px 5px 5px;
    }

    @media screen and (min-width: $mobile-small) {
      margin: 15px;
      padding: 7px;

      img {
        height: 150px;
        padding: 10px 15px 10px 10px;
      }
    }
  }
}

.show-product-msg {
  visibility: visible;
  opacity: 1;
  height: 200px;
  transition: all ease 0.5s;

  @media screen and (min-width: $mobile-small) {
    height: 260px;
  }
}
