$main-brand-color: #483feb;
$main-light-shade-color: #fafafa;
$main-middle-shade-color: #afafaf;
$main-dark-shade-color: #1d1d1d;
$main-contrast-color: #fffc18;
$pop-up-gradient: linear-gradient(#cfcfd5, #828099);

$main-bg-color: rgba(50, 49, 75, 0.95);

$nav-height: 55px;

$mobile-small: 300px;
$mobile-large: 500px;
$tablet: 650px;
$desktop: 900px;
