@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Playfair+Display:400,700|Roboto:300,300i,400&display=swap");
@import "~src/variables";
@import "~src/placeholders";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $main-dark-shade-color;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wallpaper-bg {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  @media screen and(min-width: $desktop) {
    height: 500px;
    width: 888px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -444px;
  }
}

.display1 {
  font-family: "Playfair Display", serif;
  color: $main-light-shade-color;
  margin: 0 0 20px 0;
  font-size: 33px;
  font-weight: 300;
  text-align: center;

  &--right {
    text-align: right;
  }

  &--inverse {
    color: $main-dark-shade-color;
  }
}

.display2 {
  font-size: 29px;
  font-weight: 300;
  text-align: center;

  &--no-margin {
    margin: 0;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--inverse {
    color: $main-light-shade-color;
  }
}

.subtitle {
  color: $main-dark-shade-color;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;

  &--no-margin {
    margin: 0;
  }

  &--left {
    text-align: left;
  }

  &--inverse {
    color: $main-light-shade-color;
  }

  &--brand-color {
    color: $main-brand-color;
  }

  &--center {
    text-align: center;
  }
}

.body1 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }
}

.price-label {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.navbar-pad {
  padding-top: calc(#{$nav-height} + 40px);

  &--extra {
    padding-top: calc(#{$nav-height} + 80px);
  }
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 150px;
  right: 0;
  left: 0;
  background-image: linear-gradient(#575577, transparent);
}

.button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 27px;
}

.primory-button {
  color: $main-contrast-color;
  background-color: $main-dark-shade-color;
  border: solid 2.5px $main-contrast-color;

  &:hover {
    color: $main-dark-shade-color;
    border-color: $main-dark-shade-color;
    background-color: $main-contrast-color;
  }

  &--center {
    margin: auto;
    display: block;
  }
}

.primory-button-inverse {
  color: $main-dark-shade-color;
  border-color: $main-dark-shade-color;
  background-color: $main-contrast-color;
  border: solid 2.5px $main-dark-shade-color;

  &:hover {
    color: $main-contrast-color;
    background-color: $main-dark-shade-color;
    border-color: $main-contrast-color;
  }
}

.secondary-button {
  color: $main-light-shade-color;
  background-color: $main-brand-color;
  border: solid 2.5px $main-light-shade-color;

  &:hover {
    color: $main-brand-color;
    border-color: $main-brand-color;
    background-color: $main-light-shade-color;
  }

  &--center {
    margin: auto;
    display: block;
  }
}

.button-disabled {
  color: $main-light-shade-color;
  background-color: $main-middle-shade-color;
  border: solid 2.5px $main-light-shade-color;
  cursor: default;
}

.overlay {
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: $nav-height;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  z-index: 1;
}

@media screen and (min-width: $tablet) {
  .shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
